//============= Break Points ================

$S: 768px;
$M: 992px;
$L: 1200px;



//============= Break Points ================


$icon-font-path: "../fonts/bootstrap/";
/* Fonts */

$base-text-color: #25373f !default;
$base-text-size: 14px !default;


/* Colors*/
$bg-footer: #212121;
$footer-color: #b7b7b7;

$brand-color: #5d98d0;
